namespace: hosted
externalAPIDNSName: api.hosted.example.com
externalAPIPort: 6443
externalAPIAddress: 10.0.0.1
externalVPNDNSName: vpn.hosted.example.com
externalVPNPort: 3118
externalOauthPort: 4000
serviceCIDR: 172.31.0.0/16
namedCerts:
  - namedCertPrefix: /etc/kubernetes/secret/cert1
    namedCertDomain: c1.hosted.example.com
  - namedCertPrefix: /etc/kubernetes/secret/cert2
    namedCertDomain: c2.hosted.example.com
podCIDR: 10.32.0.0/14
releaseImage: quay.io/openshift-release-dev/ocp-release:4.2.0
originReleasePrefix: quay.io/openshift-release-dev
apiNodePort: 32323
openVPNNodePort: 32324
ingressSubdomain: apps.hosted.example.com
openshiftAPIClusterIP: 172.30.0.20
baseDomain: example.com
networkType: OpenShiftSDN
replicas: 1
etcdClientName: etcd-client
identityProviders: |
  - challenge: true
    login: true
    mappingMethod: lookup
    name: IAM
    provider:
      apiVersion: osin.config.openshift.io/v1
      ca: ''
      claims:
        email:
          - email
        id:
          - iam_id
        name:
          - name
        preferredUsername:
          - preferred_username
      clientID: clientid
      clientSecret:
        env: ''
        file: "/etc/oauth-openshift-secrets/clientSecret"
        keyFile: ''
        value: ''
      extraAuthorizeParameters:
      extraScopes:
      kind: OpenIDIdentityProvider
      urls:
        authorize: https://iam.test.cloud.ibm.com/identity/authorize
        token: https://iam.test.cloud.ibm.com/identity/token
        userInfo: https://iam.test.cloud.ibm.com/identity/userinfo


