apiVersion: apps/v1
kind: Deployment
metadata:
  name: cluster-version-operator
spec:
  replicas: 1
  selector:
    matchLabels:
      k8s-app: cluster-version-operator
  template:
    metadata:
      name: cluster-version-operator
      labels:
        k8s-app: cluster-version-operator
    spec:
      tolerations:
        - key: "multi-az-worker"
          operator: "Equal"
          value: "true"
          effect: NoSchedule
      initContainers:
      - name: setup
        image: {{ .CVOSetupImage }}
        command:
        - "/bin/bash"
        args:
        - "-c"
        - |-
          cp $(which cluster-version-operator) /work/
        volumeMounts:
        - mountPath: /work
          name: work
      containers:
      - name: cluster-version-operator
        image: {{ .ReleaseImage }}
        imagePullPolicy: Always
        command:
          - "/work/cluster-version-operator"
        args:
          - "start"
          - "--release-image={{ .ReleaseImage }}"
          - "--enable-auto-update=false"
          - "--enable-default-cluster-version=true"
          - "--kubeconfig=/etc/openshift/kubeconfig/kubeconfig"
          - "--v=4"
          - '--exclude-manifests=.*_cluster-version-operator_.*deployment.*'
          - '--exclude-manifests=.*_cluster-version-operator_.*service.*'
          - "--exclude-manifests=.*_kube-apiserver-operator_.*"
          - "--exclude-manifests=.*_kube-controller-manager-operator_.*"
          - "--exclude-manifests=.*_kube-scheduler-operator_.*"
          - "--exclude-manifests=.*_machine-api-operator_.*"
          - "--exclude-manifests=.*_openshift-apiserver-operator_.*"
          - "--exclude-manifests=.*_cluster-autoscaler-operator_.*"
          - "--exclude-manifests=.*_cluster-machine-approver_.*"
          - "--exclude-manifests=.*_openshift-controller-manager-operator_.*"
          - "--exclude-manifests=.*_cluster-openshift-controller-manager-operator_.*"
          - "--exclude-manifests=.*_insights-operator_.*"
          - "--exclude-manifests=.*_machine-config-operator_.*"
{{ if ne .ExternalOauthPort 0 }}          - "--exclude-manifests=.*_cluster-authentication-operator_.*"
{{- end }}
        terminationMessagePolicy: FallbackToLogsOnError
        volumeMounts:
          - mountPath: /etc/cvo/updatepayloads
            name: etc-cvo-updatepayloads
            readOnly: true
          - mountPath: /etc/openshift/kubeconfig
            name: kubeconfig
            readOnly: true
          - mountPath: /work
            name: work
            readOnly: true
        env:
          - name: NODE_NAME
            valueFrom:
              fieldRef:
                fieldPath: spec.nodeName
      volumes:
        - name: work
          emptyDir: {}
        - name: etc-cvo-updatepayloads
          emptyDir: {}
        - name: kubeconfig
          secret:
            secretName: service-network-admin-kubeconfig
