kind: Deployment
apiVersion: apps/v1
metadata:
  name: openshift-apiserver
spec:
  replicas: {{ .Replicas }}
  selector:
    matchLabels:
      app: openshift-apiserver
  template:
    metadata:
      labels:
        app: openshift-apiserver
    spec:
      automountServiceAccountToken: false
      containers:
      - name: openshift-apiserver
        image: {{ imageFor "openshift-apiserver" }}
        args:
        - "start"
        - "--config=/etc/kubernetes/apiserver-config/config.yaml"
        volumeMounts:
        - mountPath: /etc/kubernetes/secret
          name: secret
        - mountPath: /etc/kubernetes/apiserver-config
          name: apiserver-config
        - mountPath: /etc/kubernetes/config
          name: config
        - mountPath: /var/run/kubernetes
          name: logs
        workingDir: /var/run/kubernetes
      volumes:
      - secret:
          secretName: openshift-apiserver
        name: secret
      - configMap:
          name: openshift-apiserver
        name: config
      - configMap:
          name: openshift-apiserver-config
        name: apiserver-config
      - emptyDir: {}
        name: logs
