kind: Deployment
apiVersion: apps/v1
metadata:
  name: cluster-policy-controller
spec:
  replicas: {{ .Replicas }}
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxSurge: 3
      maxUnavailable: 1
  selector:
    matchLabels:
      app: cluster-policy-controller
  template:
    metadata:
      labels:
        app: cluster-policy-controller
    spec:
      tolerations:
        - key: "multi-az-worker"
          operator: "Equal"
          value: "true"
          effect: NoSchedule
      affinity:
        podAntiAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            - labelSelector:
                matchExpressions:
                  - key: app
                    operator: In
                    values: ["cluster-policy-controller"]
              topologyKey: "kubernetes.io/hostname"
            - labelSelector:
                matchExpressions:
                  - key: app
                    operator: In
                    values: ["cluster-policy-controller"]
              topologyKey: "failure-domain.beta.kubernetes.io/zone"
      automountServiceAccountToken: false
      containers:
      - name: cluster-policy-controller
        image: {{ imageFor "cluster-policy-controller" }}
        command:
        - "cluster-policy-controller"
        args:
        - "start"
        - "--config=/etc/kubernetes/cmconfig/config.yaml"
        - "--kubeconfig=/etc/kubernetes/secret/kubeconfig"
        volumeMounts:
        - mountPath: /etc/kubernetes/secret
          name: secret
        - mountPath: /etc/kubernetes/cmconfig
          name: cmconfig
        - mountPath: /etc/kubernetes/config
          name: config
      volumes:
      - secret:
          secretName: openshift-controller-manager
        name: secret
      - configMap:
          name: openshift-controller-manager
        name: config
      - configMap:
          name: openshift-controller-manager-config
        name: cmconfig
